body {
  background-color: #FFD93D;
  color: #12AA79;
}

h1 {
  color: #FF6B6b;
  position: relative;
  left: 200px;
  bottom: 125px;
}

h3 {
  color: #4D96FF;
}

img {
  border: 2px solid #6BCB77;
  border-radius: 50%;
  position: relative;
}
